{% extends "bases/base_unauthed.html" %}
{% block content %}

<div class="unauthed-container">
    <form class="auth-form" method="post">
        <label for="login">Login</label>
        <input type="text" id="login" name="login" placeholder="hvhboss1337" value="{{ login or '' }}">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="************">
        <label for="c_password">Confirm password</label>
        <input type="password" id="c_password" name="c_password" placeholder="************">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="fatalityisdogshit@example.com" value="{{ email or '' }}"><br>
        <label for="name">Displayable name</label>
        <input type="text" id="name" name="name" placeholder="tripwarelover911" value="{{ name or '' }}">
        <a href="/auth/login">I already have an account</a>
        <input type="submit" value="Login">
    </form>
    {% if e %}
        <p>{{ e }}</p>
    {% endif %}
</div>

{% endblock %}