{% extends "bases/base_authed.html" %}
{% block content %}
<div class="posts-container">
    {% if q %}
        <p>Results: <b>{{ q }}</b></p>
        <div>
            Sort by: <a href="#" onclick="setParam('sort_by', 'created_at')">Creation date</a>, <a href="#" onclick="setParam('sort_by', 'title')">Title</a>, <a href="#" onclick="setParam('sort_by', 'views')">Views</a><br>
            Sort order: <a href="#" onclick="setParam('sort_order', 'asc')">Asc</a>, <a href="#" onclick="setParam('sort_order', 'desc')">Desc</a>
        </div>
        {% if posts %}
            <p>Posts</p>
            {% for post in posts %}
            <div class="post">
                <div class="post-author">
                    <img src="{{ post.author.pfp }}" width="50" height="50">
                </div>
                <div class="post-content">
                    <div class="post-title">
                        <a href="/forum/post/{{ post.id }}">{{ post.title }}</a>
                    </div>
                    <div class="post-body">{{ post.body[:100] }}...</div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>Nothing's here :(</p>
        {% endif %}
    {% else %}
        <p></p>
    {% endif %}
</div>

<script>
    function setParam(key, value) {
        const urlParams = new URLSearchParams(window.location.search);
        urlParams.set(key, value);
        window.location.search = urlParams.toString();
    }
</script>
{% endblock %}